<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>D.C. Bikesharing Prediction Tool</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- Header-->
      <div class="col-md-12 jumbotron text-center">
          <h1 style="color:white;"><b>Bicycle-sharing System</b></h1>
          <br>
          <h2 style="color:white;"><b>Capital Bike Sharing Washington D.C.</b></h2>
      </div>
    </div>
  
    <div class="row" >
      <!-- Description-->
      <p align="justify">  A bicycle-sharing system, public bicycle scheme, or public bike share (PBS) scheme, is a shared
       transport service in which bicycles are made available for shared use to individuals on a short term 
       basis for a price or free. Many bike share systems allow people to borrow a bike from a "dock" and 
       return it at another dock belonging to the same system. Docks are special bike racks that lock the bike, 
       and only release it by computer control. The user enters payment information, and the computer unlocks
       a bike. The user returns the bike by placing it in the dock, which locks it in place.</p>
    </div>
    <br>
    <div class="row">
      <!-- Display BCS logo -->
      <div class="col-md-6">
        <img src="static/css/pictures/logo.jpg" alt="bike share logo" class="center">
      </div>
      <!-- Description-->
      <div class="col-md-6">
        <p align="justify">  Capital Bikeshare is a bicycle sharing system which serves Washington, 
          D.C.; Arlington County, Virginia; the cities of Alexandria, Virginia and Falls Church, Virginia; Montgomery County,
          Maryland and Fairfax County, Virginia. As of May 2021, it had 627 stations and 5,400+ bicycles, all owned by these
          local governments and operated by contractor Motivate International. Opened in September 2010, the system was 
          the largest bike sharing service in the United States until New York City's Citi Bike began operations in May 2013.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- Intructions-->
      <p align="justify"> Below you can see how many trips eash Station in Washigton DC have had since 2010 to 2019, 
        you can select the station from the drop down menu our pick a location on the map</p>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <!-- The div that holds our map -->
        <div id="map"></div>
      </div>
      <div class="col-md-6">
        <!-- Selector to choose station to be loaded in the bar chart-->
        <div class="select_dist">
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="none" selected disabled hidden>--Select a Bike Station--</option>
          </select>
        </div>
        <!-- The div that holds our bar chart-->
        <div id="barchart"></div>
      </div>
    </div>
    <br>
    <div class="login">
      <h1 style="text-align:center"> Casual Usage Prediction Tool</h1>
      <p style="text-align:center">Use this tool to estimate casual bikeshare users based on current weather conditions.</p>
       <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}"method="post">
  
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Current Usage</button>
      </form>
  
      <br>
      <br>
      {{prediction_text}}  
    </div>
    <br>
    <br>
  <!-- empty -->
  <!-- the DIV that will contain the widget -->
	<div class="weatherForecastWidget"></div>

	  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
	  <link rel="stylesheet" href="https://www.visualcrossing.com/widgets/forecast/weather-forecast-widget-d3.css">
	  <script>
		  window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
		  window.weatherWidgetConfig.push({
			  selector:".weatherForecastWidget",
			  apiKey:"4TL5LFAY3PFAMN97VCTQRXQHR",
			  location: "Washington DC",
			  unitGroup:"us"
		  });
		  (function() {
		  var d = document, s = d.createElement('script');
		  s.src = 'https://www.visualcrossing.com/widgets/forecast/weather-forecast-widget-d3.js';
		  s.setAttribute('data-timestamp', +new Date());
		  (d.head || d.body).appendChild(s);
		  })();
	  </script>
  

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
</body>

</html>
